MYSQL_HOST=your_mysql_host
MYSQL_PORT=3306
MYSQL_DATABASE=your_database
MYSQL_USER=your_user
MYSQL_PASSWORD=your_password
MYSQL_SSL_CA=/app/certificat/ca.pem
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password
